set nohlsearch
set number relativenumber
set surround
set clipboard+=unnamed

map <space> <leader>

" KJump
nmap , :action KJumpAction.Word0<CR>

" Split pane vertically
<leader>sp :action SplitVertically<CR>

" Semicolon for command  
nnoremap ; :

" Make Y behave like D and C
nnoremap Y y$

" Toggle relative numbering
nnoremap <leader>rn :set relativenumber!<CR>

" Replace current line with yanked one
nnoremap <leader>lp V"0p<CR>

" Add semi colon to end of line
inoremap <C-;> <Esc>A;<Esc>

" Comment line
nnoremap gcc :action CommentByLineComment<CR>
vnoremap gc :<bs><bs><bs><bs><bs>action VimVisualSwapSelections<cr>:action CommentByLineComment<CR>

" Unwrap surrounding construct
noremap <leader>u :action Unwrap<CR>

