set hlsearch
set number relativenumber
set surround

map <space> <leader>

<leader>sp :action SplitVertically<CR>
nnoremap ; :

" Make Y behave like D and C
nnoremap Y y$

" Toggle relative numbering
nnoremap <leader>rn :set relativenumber!<CR>

" Replace current line with yanked one
nnoremap <leader>lp V"0p<CR>

" Add semi colon to end of line
nnoremap <leader>; $<c-o>;

" Comment line
nnoremap gcc :action CommentByLineComment<CR>

" Easy system copy paste
noremap <leader>y "*y
noremap <leader>Y "*Y
noremap <leader>p "*p
noremap <leader>P "*P

